[submodule "architecture/2018_03_maintainability_by_removing_if/by_language/rust/rock-paper-scissors"]
	path = architecture/2018_03_maintainability_by_removing_if/by_language/rust/rock-paper-scissors
	url = https://github.com/pawroman/rock-paper-scissors
